.header {
    width: 100%;
    height: 100px;
    background-color: crimson;
}


/* it is not applicable here because of local scope */

body {
    margin: 0;
    padding: 0;
}

h2 {
    color: blue
}